#signatures { }
#signatures caption h2 { margin: 0; }
#signatures td.signature-date { white-space: nowrap; }
#signatures td.signature-nom small { display: block; }
#signatures .formulaire_recherche {  } 
#signatures .formulaire_recherche input.text {  } 