.menu{clear:both;margin-bottom:1.5em;text-align:left}
.menu>h1,.menu>h2,.menu>h3,.menu>h4,.menu>h5,.menu>h6{margin-bottom:0}
.menu-items{margin:0;padding:0;list-style:none;border-bottom:1px solid #ddd}
.menu-items .item{margin:0;padding:.375em}
.menu-items .menu-items{margin-left:1em;border:0}
.menu-items .menu-items .item{padding:0;border:0}

.liste{margin-bottom:1.5em}
.liste>h1,.liste>h2,.liste>h3,.liste>h4,.liste>h5,.liste>h6{margin-bottom:0}
.liste-items{margin:0;padding:0;list-style:none;margin-bottom:1.5em}
.liste .liste-items{margin-bottom:0}
.liste-items .item{list-style:square;margin-left:0;padding:.75em 0;clear:both;overflow:hidden;border-bottom:1px solid #eee}
.liste-items .item .h3{margin:.75em 0}
.liste-items .item .h3 a:hover{text-decoration:none}

.liste-items .item ul{margin-left:50px;list-style-type:disc}
.liste-items .item ol{margin-left:50px;list-style-type:numeric}
.liste.articles .spip_logos{float:right;clear:right;margin:.8em 0 4px 16px}
.liste .articles .item .introduction{margin-top:.30em;line-height:1.40em;padding:.5em 0 1.5em 1em}
ul.plan{margin-bottom:1.5em}
ul.plan li{margin-left:50px;list-style-type:disc}
