<plugin>
	<nom>Zpip-dist</nom>
	<slogan><multi>[fr]Squelettes Z pour SPIP (Zpip)[en]Z skeletons for SPIP (Zpip)</multi></slogan>
	<auteur>Matthieu Marcillaud, C&#233;dric Morin, Romy T&ecirc;tue, Collectif SPIP</auteur>
	<icon>img/z-dist-32.png</icon>
	<licence>GNU/GPL</licence>
	<version>2.0.6-dev</version>
	<etat>dev</etat>
	<description>
		<multi>
			[fr]Squelettes par défaut pour Z-core, modulaires et exemplaires.
			[en]Skeleton like <code>squelettes-dist/</code> of SPIP, with an optimized organization and modularity.
		</multi>
	</description>
	<prefix>Zpip</prefix>
	<options>z_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[3.0.0;3.0.99]" />
	<necessite id="Zcore" version="[2.2.0;]" />
</plugin>
