<plugin>
	<nom>SandBox</nom>
	<slogan>NC</slogan>
	<auteur>Speciale</auteur>
	<icon>img/z-dist-32.png</icon>
	<licence>GNU/GPL</licence>
	<version>2.0.6-dev</version>
	<etat>dev</etat>
	<description>
			Dev NC
	</description>
	<prefix>SandBox</prefix>
	<options>SandBox_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[3.0.0;3.0.99]" />
	<necessite id="Zcore" version="[2.2.0;]" />
</plugin>
